<settings>
    <profiles>
        <profile>
            <id>tls</id>
            <properties>
                <https.protocols>TLSv1.2</https.protocols>
            </properties>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>tls</activeProfile>
    </activeProfiles>
</settings>
